//
// Variables
//
@import "${HOME}/.cache/wal/colors.scss";

// Fonts
$font: "JetBrains Mono, icomoon-feather";

// Colors
$bg: $background;
$bg-light: lighten($bg, 2%);
$bg-lighter: lighten($bg, 15%);
$fg: $foreground;
$fg-light: lighten($fg, 10%);

//
// Defaults
//
* {
  all: unset; // Unsets everything so you can style everything from scratch
}

scale trough {
  background-color: $bg-lighter;
  border-radius: 2px;
  min-height: 0.5em;
}

scale trough highlight {
  background-color: $fg-light;
  border-radius: 2px;
}

//
// Windows
//
.panel > * {
  background-color: $bg;
  margin: 1rem;
  padding: 2em;
  border-radius: 1em;
  color: $fg;
  font-family: $font;
  box-shadow: 2px 2px 4px rgba(1,1,1,0.5);
}

//
// Utilities
//
.innerbox {
  background-color: $bg-light;
  border-radius: 0.75em;
}

//
// Widgets
//

/* Datetime */
.datetime {
}

.time {
  font-size: 6em;
}

.date {
  font-size: 1.75em;
}

/* Groups */
.groups {
  margin-top: 1em;
}

.groups > *:not(:first-child):not(:last-child) {
  margin: 2em 0;
}

/* Controls */
.controls {
  padding: 1em;
}

.volume {
  padding: 0.5em;
  font-size: 1.75em;
}

.volume scale trough {
  margin-left: 0.75em;
}

.brightness {
  padding: 0.5em;
  font-size: 1.75em;
}

.brightness scale trough {
  margin-left: 0.75em;
}

/* Resources */
.resources {
  min-height: 14em;
}

.resources > *:not(:last-child) {
  margin-right: 1em;
}

.resources > *:not(:first-child) {
  margin-left: 1em;
}

.cpu {
  margin: 0.75em;
  font-size: 2.5em;
  background-color: $bg-lighter;
}

.memory {
  margin: 0.75em;
  font-size: 2.5em;
  background-color: $bg-lighter;
}

/* Toggles */
.toggles {
  min-height: 6em;
  padding: 1em 2.5em;
}

.toggles > * {
  margin: 0.25em;
}

.toggles > button {
  color: $bg-light;
  font-size: 2.5em;
  border-radius: 0.85em;
  background-color: $bg-lighter;
}

.toggles > button.active {
  background-color: $fg-light;
}
