#
# ~/.xprofile
#

# If vmware tools exist we probably are in a WM, so run them
command -v vmware-user-suid-wrapper >/dev/null 2>&1 && (vmware-user-suid-wrapper) &

# Launch composite manager
compton &

# Merge user .Xresources
xrdb -merge ~/.Xresources

# Set cursor to left ptr
xsetroot -cursor_name left_ptr &

# Set the keyboard languages
setxkbmap -layout us,el -option grp:lalt_lshift_toggle

# If wallpaper was previously set, set it again
[ -f ~/.fehbg ] && ~/.fehbg &

