! vim: set filetype=xdefaults :
! ------------------------------------------------------------------------------
! General colors
! ------------------------------------------------------------------------------
#include ".Xcolors/molokai"

! ------------------------------------------------------------------------------
! Fonts
! ------------------------------------------------------------------------------
!Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! ------------------------------------------------------------------------------
! URxvt settings
! ------------------------------------------------------------------------------
!#define URXVT_BG [90]#2b2b2b
#ifdef URXVT_BG
URxvt*background:  URXVT_BG
URxvt*borderColor: URXVT_BG
#endif
URxvt*depth: 32
URxvt*scrollBar: false
URxvt*font: xft:xos4 Terminess Powerline:pixelsize=14,xft:Wuncon Siji:size=10,xft:FontAwesome:size=10
!URxvt*letterSpace: -1
URxvt*internalBorder: 25
URxvt*colorBD: #ffffff
URxvt*cursorColor: #ff8939
URxvt*cursorColor2: #2b2b2b
URxvt*cursorBlink: 1
URxvt*dynamicColors: on
! Clickable urls
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! ------------------------------------------------------------------------------
! Rofi
! ------------------------------------------------------------------------------
! Enabled modes
rofi.modi: run
! Window width
rofi.width: 100%
! Number of lines
rofi.lines: 3
! Font to use
rofi.font: Monaco 18
! Row colors       'bg',    'fg',    'bgalt', 'hlbg',  'hlfg'
rofi.color-normal: #1b1d1e, #266c98, #1b1d1e, #1b1d1e, #ff0044
! Window colors    'bg',    'border','separator'
rofi.color-window: #1b1d1e, #1b1d1e, #266c98
! Location
! 1   2   3
! 8   0   4
! 7   6   5
rofi.location: 1
! Padding
rofi.padding: 30
! {X,Y}-offset relative to location
rofi.xoffset: 0
rofi.yoffset: 0
! Margin between rows
rofi.line-margin: 10
! Padding within rows
rofi.line-padding: 2
! Separator style (none, dash, solid)
rofi.separator-style: solid
