! vim: set filetype=xdefaults :
! ------------------------------------------------------------------------------
! General colors
! ------------------------------------------------------------------------------
*foreground: #D7D0C7
*background: #151515

!black
! *color0:     #AF875F
! *color8:     #AF875F
*color0:     #101010
*color8:     #404040
!red
*color1:     #E84F4F
*color9:     #D23D3D
!green
*color2:     #B8D68C
*color10:    #A0CF5D
!yellow
*color3:     #E1AA5D
*color11:    #F39D21
!blue
*color4:     #7DC1CF
*color12:    #4E9FB1
!magenta
*color5:     #9B64FB
*color13:    #8542FF
!cyan
*color6:     #6D878D
*color14:    #42717B
!white
*color7:     #dddddd
*color15:    #dddddd

! ------------------------------------------------------------------------------
! Fonts
! ------------------------------------------------------------------------------
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! ------------------------------------------------------------------------------
! URxvt settings
! ------------------------------------------------------------------------------
URxvt*depth: 32
URxvt*background: [90]#2b2b2b
URxvt*scrollBar: false
URxvt*font: xft:DejaVu Sans Mono for Powerline:size=10,xft:Sigi:size=10
URxvt*letterSpace: -1
URxvt*internalBorder: 25
URxvt*borderColor: [90]#2b2b2b
URxvt*colorBD: #ffffff
URxvt*cursorColor: #ff8939
URxvt*cursorColor2: #2b2b2b
URxvt*cursorBlink: 1

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   #ffffff,#525d76,#f5f5f5,#5294e2,#ffffff
! Color scheme for urgent row
rofi.color-urgent:                   #ffffff,#dc322f,#f5f5f5,#5294e2,#dc322f
! Color scheme for active row
rofi.color-active:                   #ffffff,#c2cad0,#f5f5f5,#5294e2,#c2cad0
! Color scheme window
rofi.color-window:                   #ffffff,#f5f5f5
! Separator style (none, dash, solid)
rofi.separator-style:                solid

