#
# ~/.xprofile
#

# Launch composite manager
picom &

# Merge user .Xresources
xrdb -merge ~/.Xresources

# Set cursor to left ptr
xsetroot -cursor_name left_ptr &

# Set keyboard repeat delay and rate
xset r rate 250 40

# Set the keyboard languages
setxkbmap -layout us,el -option grp:lalt_lshift_toggle

# If wallpaper was previously set, set it again
[ -f ~/.fehbg ] && ~/.fehbg &

# Launch policy kit auth agent
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

# Start keyring daemon
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK

# Launch conky HUD
for rc in .config/conky/widgets-enabled/*; do conky -c $rc & done
