! vim: set filetype=xdefaults :
! ------------------------------------------------------------------------------
! General colors
! ------------------------------------------------------------------------------
#include ".xcolor"

! ------------------------------------------------------------------------------
! Fonts
! ------------------------------------------------------------------------------
!Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! ------------------------------------------------------------------------------
! URxvt settings
! ------------------------------------------------------------------------------
#define termfont xft:xos4 Terminess Powerline:pixelsize=14,xft:TerminessTTF Nerd Font Mono:pixelsize=14

!#define URXVT_BG [90]#2b2b2b
#ifdef URXVT_BG
URxvt*background:  URXVT_BG
URxvt*borderColor: URXVT_BG
#endif

URxvt*depth: 32
URxvt*scrollBar: false
URxvt*font: termfont
URxvt*boldFont: termfont
URxvt*internalBorder: 25
URxvt*colorBD: #ffffff
URxvt*cursorColor: #ff8939
URxvt*cursorColor2: #2b2b2b
URxvt*cursorBlink: 1
URxvt*dynamicColors: on
! Clickable urls
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
