/*
 * waybar/style.css
 */

@import url("config/colors.css");
@import url("config/fonts.css");
@import url("modules/sway-workspaces.css");

window#waybar {
  background-color: @background;
  color: @foreground;
}

.modules-right {
  margin-right: 4pt;
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
}
