/*
 * waybar/style.css
 */

@import url("config/colors.css");
@import url("config/fonts.css");
@import url("modules/sway-workspaces.css");
@import url("modules/sway-mode.css");
@import url("modules/sway-window.css");
@import url("modules/tray.css");
@import url("modules/clock.css");
@import url("modules/audio.css");
@import url("modules/battery.css");
@import url("modules/temperature.css");
@import url("modules/memory.css");
@import url("modules/cpu.css");
@import url("modules/network.css");

window#waybar {
  background-color: @background;
  color: @foreground;
}

.modules-right {
  margin-right: 4pt;
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
}

tooltip {
  background: @background;
}

tooltip label {
  color: @foreground;
}
