/*
 * waybar/style.css
 */

@import url("config/colors.css");
@import url("config/fonts.css");

window#waybar {
  background-color: @background;
  color: @foreground;
}

.modules-right {
  margin-right: 4pt;
}
