[Unit]
Description=Dynamic output configuration for Wayland compositors
Documentation=man:kanshi(1)
ConditionPathExists=%h/.config/kanshi/config
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
ExecReload=/usr/bin/kanshictl reload
